.bg_section_9{
    background-color: #fff;
    display: flex;
}
#section_9{
    width: calc(100% - 20px);
    height: 550px;
    margin: 10px;
    background-image: url('../../../../../public/img/sec-9.png');

}
.title-section-9{
    width: 100%;
    color: #fff;
    margin-top: 35px;
    padding-left: 100px;
    padding-top: 90px;
}